<div class="panel panel-info">
<div class="panel-heading">
Friends
</div>

<div class="panel-body">
<ul style="list-style:none;">
<li ng-repeat="friendDetail   in   friendsDetails"><!-- Type of friendDetail is User -->
{{friendDetail.email}}<br>
{{friendDetail.firstname}}&nbsp;{{friendDetail.lastname}}<br>
{{friendDetail.mobile}}<br>
{{friendDetail.role}}<br>
<img src="http://localhost:8081/middleware/project/getimage?email={{friendDetail.email}}" alt="Profile Pic" height="40px" width="40px"><br>
<hr>
</li>
</ul>
</div>
</div>